[data-dark-mode-bg] {
    background-color: #222;
}

/* Category Bar
============================================================================================= */
#category-bar {
    justify-content: center;

    border: none;
}

#category-bar a {
    padding: 1rem;
    border: 2px solid var(--blue);
    border-radius: 50px;

    user-select: none;
}

#category-bar a.selected {
    color: white;
    background-color: var(--blue);
}

#category-bar a:hover {
    color: var(--blue);
    border-bottom: 2px solid var(--blue);;
}

#category-bar a.selected:hover {
    color: white;
}


@media (max-width: 850px) {
    #category-bar {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
        height: 200px;
        gap: 10px;
    }

    #category-bar a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: .5rem;

        font-size: 2rem;
    }
}

@media (max-width: 400px) {
    #category-bar {
        grid-template-columns: 1fr;
        height: 400px;
    }
}

/* product List 
============================================================================================= */
#products-list-grid {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 1600px;
    padding: 1rem;
}

.product-container {
    height: 600px;
    width: 100%;

    border-bottom: 1px solid var(--blue-light);

    overflow: hidden;
}

.product-container:hover {
    box-shadow: 0 1px 10px 0 var(--blue);
}

.product-img {
    position: relative;
    height: 525px;

    object-fit: fill;
    overflow: hidden;
}

.product-img img {
    height: 100%;
    width: 100%;

    object-fit: fill;
}

.product-img .credits {
    font-size: .8rem;
    text-shadow: 0 0 2px black;
}

.product-text {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr .1fr;
    height: calc(600px - 525px);
    padding: 0 .5rem;
}

.product-title {
    font-size: 1.3rem;
    margin-bottom: .3rem;
}

.shopping-cart-add-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: 200ms ease-in-out;
}

.shopping-cart-add-icon span {
    font-size: 2rem;
}

.shopping-cart-add-icon:hover span,
.shopping-cart-add-icon .cart-arrow {
    display: none;
}

.shopping-cart-add-icon:hover .cart-arrow {
    display: block;
    color: var(--blue);
}

@media (max-width: 1600px) {
    #products-list-grid {
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }
}

@media (max-width: 850px) {
    #products-list-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 520px) {
    #products-list-grid {
        grid-template-columns: 1fr;
    }
}